@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --z-primary: #222222;
    --z-secondary: #4a4a4a;
    --z-dark: #000000;
    --z-light: #ffffff;
    --z-success: #00cb00;
    --z-alert: #ed0c0e;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* #endregion common */

/* #region debug */
.debug .app_container {
    height: 100vh;
    
    background-color: palegreen;
}

.debug #app_main {
    background-color: paleturquoise;
}

.debug #app_nav {
    background-color: palevioletred;
}

.debug .container {
    height: 100%;
    background-color: palegoldenrod;
}

.debug .card {
    height: 180px;
}

.debug .content {
    height: 100%;
    background-color: brown;
}

/* .debug .view_bar {
    height: 50px;
    background-color: #00cb00;
} */

.debug .left_buttons,
.debug .middle_buttons,
.debug .right_buttons {
    height: 100%;
    background-color: blue;
    border: 2px dashed black;
}

/* #endregion debug */

/* #region utility */
.container {
    height: 100vh; /*! debug*/
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    padding: 4rem 4rem 1rem;

    overflow-y: scroll ;

    background-color: var(--z-dark);
}

.card {
    width: calc(100% / 7);
    padding: .25rem;
    margin-bottom: 1rem;
}

.view_bar {
    position: absolute;
    top: 0;
    right: 1rem;

    display: flex;
    gap: .5rem;
    align-items: center;

    padding: .5rem;
}

.button {
    padding: .4rem;
    border-radius: .3rem;
    font-weight: 300;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.bg_secondary {
    background-color: var(--z-secondary);
}

.color_dark {
    color: var(--z-dark);
}

.color_light {
    color: var(--z-light);
}

.color_success {
    color: var(--z-success);
}

.color_alert {
    color: var(--z-alert);
}

.text_sm {
    font-size: .8rem;
}

.text_med {
    font-size: 1.1rem;
}

.text_big {
    font-size: 2rem;
}

.none {
    display: none;
}
/* #endregion utility */

/* #region main */

/* #region app_main */
#app_main {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* #endregion app_main */

/* #region nav */
#app_nav {
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;

    display: flex;
    justify-content: space-between;

    background-color: var(--z-primary);
}

.left_buttons,
.right_buttons {
    flex-grow: 1;
}

.middle_buttons {
    flex-grow: 3;
}

#app_nav .button {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.left_buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}
.middle_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.right_buttons {
    display: flex;
    justify-content: flex-end;
}

.right_buttons .button {
    border-radius: 0;
    padding: 0 1.5rem;
    font-weight: 500;
}

/* #endregion nav */

/* #endregion main */